<div class="container">
    <div class="row custom-height">
        <div class="col-sm-12 ">
            <img src="https://wallpaperbro.com/img/167747.jpg" alt="pic" class="img-fluid ">
        </div>
    </div>
    <div class="row my-5">
        <div class="col-sm-12">
            <p class="text-align-custom">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores earum omnis aspernatur voluptatem, eius voluptatibus optio nostrum similique in beatae dolorum. Velit rem non fuga expedita. Autem temporibus nisi voluptatibus? Lorem ipsum dolor sit, amet consectetura adipisicing elit. Ratione, dicta nesciunt praesentium magnam reiciendis accusantium laborum fugit porro aut quibusdam molestiae sint nam neque consectetur dignissimos! Atque reiciendisas sit accusantium magni maxime aliquam?</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12 d-flex justify-content-between">
            <a href="#" routerLink="/posts"><button class="btn btn-lg btn-dark">Posts</button></a>
            <a href="#" routerLink="/gallery"><button class="btn btn-lg btn-dark">Gallery</button></a>
        </div>
    </div>
</div>
